* {
	font-family: 'Nanum Gothic', sans-serif;
}

html, body {
	background-color: #222222;
	margin: 0px; 
	/* 기본 테두리 삭제 */
	color:gray;
}

header {
	/* 상단 고정 */
	position:fixed;
	width : 100%;
	height: 50px;
	background-color : black;	
	color:gray;
	font-size: 15px;
}
	/* 헤더 좌측의 뒤로가기 또는 메인으로 가기 */
	.innerlink{
		padding-left: 20px;
		line-height: 50px;
		float:left;
	}

	/* 헤더 우측의 SNS 숏컷 */
	.outerlink{
		padding-right: 20px;
		line-height: 50px;
		float:right;
	}

	/* 헤더에 들어가는 이미지 */
	img#header {
		width:14px;
		height: 14px;
	}

div {
	text-align: center;
}
	/* 인덱스-좌측 화면 */
	div.index_left {
		position: relative;
		width:50%;
		height:92%;
		float:left;
	}

	/* 인덱스-우측 화면 */
	div.index_right {
		position: relative;
		width:50%;
		height:92%;
		float:right;
	}

		/* 메인-디자이너/아티스트 인포 */
		div#aboutme{
			font-size: 12px;
			opacity: 0;
			height: 0px;
			transition: all ease 1s;
		}

	/* 갤러리-썸네일 이미지 공간 */
	div.gall{
		display: inline-block;
		width:400px;
		height:400px;
		margin: 20px;
		border-radius: 20px;
		cursor: pointer;
	}
		/* 갤러리-썸네일 마우스 오버 시 보이는 글귀 */
		.fadedinfo{
			width:400px;
			height:400px;
			border-radius: 20px;
			opacity: 0;
			color:white;
			transition: all ease 0.2s;
			position: absolute;
			background: rgba(0, 0, 0, 0.7);
		}
		.gall:hover .fadedinfo{
			opacity: 1;
		}
		/* 갤러리-썸네일 이미지 */
		img.gallimage{
			object-fit: cover;
			width: 400px;
			height: 400px;
			border-radius: 20px;
		}
		
	/* 갤러리-화면 덮는 팝업 스크린 */
	div#gallerywindow{
		position: fixed;
		width:100%;
		height:100%;
		margin: 30px auto;
		transition: all ease 0.2s;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}	
		/* 갤러리-팝업 스크린 속 아이프레임 위치 */
		div#imagewindow{
			width:80%;
			height:70%;
			border-radius: 10px;
			margin:100px auto;
			background-color: white;
		}	
		/* 갤러리-아이프레임 스타일 */
		iframe {
			width:100%;
			height:100%;
			border-radius: 10px;
			border:none;
		}
		
/* 푸터-하단 고정, 창 크기 줄여도 따라옴 */
footer {
	position: fixed;
	bottom: 0px;
	width:100%;
	text-align: right;
	font-size: 7px;
	color : grey;
	background-color : black;
}

/* 일반 링크 */
a {
	color : darkred;
	font-style: none;
	text-decoration: none;
}
	a:hover{
		color : red;
		transition: all ease 0.4s;
	}
	
	/* 인덱스의 두 링크 */
	a#index_link{
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		color: gray;
	}

		a#index_link:hover{
			color: white;
			transition: all ease 0.4s;
		}


/* 버튼-팝업 아이프레임 */
button#off{
	width: 50px; 
	height: 50px;
	float:right;
	margin: 30px;
}